In [2]:
import requests
from requests_file import FileAdapter
import pandas as pd
from bs4 import BeautifulSoup

In [58]:
data=pd.read_csv(r'D:\ai\Downloads\Data\paintings\archive\wclasses.csv')

In [59]:
new_data=data[data['genre']==139].reset_index(drop=True)
new_data['search']=new_data['file'].str.split('/').str[1]
new_data['search']=new_data['search'].str.replace('_','/')
new_data['search']=new_data['search'].str.rsplit('.').str[0]
new_data['search']=new_data['search'].str.rsplit('(').str[0]
new_data

,file,artist,genre,style,search
0,Romanticism/ivan-aivazovsky_morning-1851.jpg,9,139,163,ivan-aivazovsky/morning-1851
1,Realism/vincent-van-gogh_vase-with-asters-and-...,22,139,161,vincent-van-gogh/vase-with-asters-and-phlox-1886
2,Expressionism/martiros-saryan_flowers-against-...,13,139,149,martiros-saryan/flowers-against-the-backdrop-o...
3,Naive_Art_Primitivism/marc-chagall_self-portra...,12,139,155,marc-chagall/self-portrait-1963
4,Art_Nouveau_Modern/nicholas-roerich_king-s-roo...,14,139,143,nicholas-roerich/king-s-room-1913
...,...,...,...,...,...
16447,Naive_Art_Primitivism/mary-fedden_butterflies-...,0,139,155,mary-fedden/butterflies-at-canaux-1973
16448,Naive_Art_Primitivism/arman-manookian_watercol...,0,139,155,arman-manookian/watercolor-design-for-mural
16449,Naive_Art_Primitivism/andre-bauchant_exotic-fl...,0,139,155,andre-bauchant/exotic-flowers-1933
16450,Naive_Art_Primitivism/ivan-generalic_cows-in-a...,0,139,155,ivan-generalic/cows-in-a-landscape-1957
16451,Naive_Art_Primitivism/natalia-goncharova_sheep...,0,139,155,natalia-goncharova/sheep-shearing

In [60]:
new_data.to_csv(r'D:\ai\Downloads\Data\paintings\archive\new_csv.csv',index=False)

In [63]:
url = 'https://www.wikiart.org/en/'
step = 1000
end = len(new_data)
for j in range(0,end,step):
    new_data=pd.read_csv(r'D:\ai\Downloads\Data\paintings\archive\new_csv.csv')
    for i in range(j,j+step):
        try:
            response = requests.get(url+new_data.loc[i,'search'])
            soup = BeautifulSoup(response.text, 'html.parser')
            genre = soup.select_one('li.dictionary-values > span > a> span').text
            new_data.loc[i,'genre']=genre
        except:
            print(i,'번째 실패')
    new_data.to_csv(r'D:\ai\Downloads\Data\paintings\archive\new_csv.csv',index=False)
    print(j+step,'완료')

383 번째 실패
960 번째 실패
1000 완료
1332 번째 실패
1361 번째 실패
1529 번째 실패
1637 번째 실패
1881 번째 실패
2000 완료
2185 번째 실패
2356 번째 실패
2482 번째 실패
2642 번째 실패
2645 번째 실패
2798 번째 실패
2818 번째 실패
2864 번째 실패
2877 번째 실패
2886 번째 실패
2913 번째 실패
2927 번째 실패
2928 번째 실패
2940 번째 실패
2943 번째 실패
2951 번째 실패
3000 완료
3003 번째 실패
3009 번째 실패
3187 번째 실패
3194 번째 실패
3228 번째 실패
3273 번째 실패
3275 번째 실패
3305 번째 실패
3311 번째 실패
3312 번째 실패
3318 번째 실패
3329 번째 실패
3377 번째 실패
3430 번째 실패
3446 번째 실패
3453 번째 실패
3466 번째 실패
3533 번째 실패
3572 번째 실패
3591 번째 실패
3596 번째 실패
3603 번째 실패
3605 번째 실패
3650 번째 실패
3662 번째 실패
3684 번째 실패
3695 번째 실패
3696 번째 실패
3710 번째 실패
3711 번째 실패
3770 번째 실패
3842 번째 실패
3876 번째 실패
3885 번째 실패
3902 번째 실패
3922 번째 실패
3944 번째 실패
3966 번째 실패
3980 번째 실패
3990 번째 실패
3996 번째 실패
4000 완료
4004 번째 실패
4028 번째 실패
4039 번째 실패
4052 번째 실패
4061 번째 실패
4106 번째 실패
4136 번째 실패
4178 번째 실패
4191 번째 실패
4196 번째 실패
4213 번째 실패
4216 번째 실패
4233 번째 실패
4254 번째 실패
4258 번째 실패
4262 번째 실패
4264 번째 실패
4305 번째 실패
4336 번째 실패
4341 번째 실패
4367 번째 실패
4403 번째 실패
4447 번째 실패
4451 번째 실패
4466 번째 실패
4470 번째 실패
4475 번째 실패
4496 번째 실패
4498 번째 실패
4504 번째 실패
4513 번째 실패
4547 번째 실패
4567 번째 실패
4591 번째 실패
4616 번째 실패
4638 번째 실패
4677 번째 실패
4702 번째 실패
4738 번째 실패
4761 번째 실패
4776 번째 실패
4780 번째 실패
4825 번째 실패
4835 번째 실패
4870 번째 실패
4951 번째 실패
5000 완료
5005 번째 실패
5031 번째 실패
5088 번째 실패
5125 번째 실패
5156 번째 실패
5164 번째 실패
5186 번째 실패
5207 번째 실패
5219 번째 실패
5226 번째 실패
5250 번째 실패
5252 번째 실패
5253 번째 실패
5264 번째 실패
5273 번째 실패
5278 번째 실패
5290 번째 실패
5294 번째 실패
5328 번째 실패
5364 번째 실패
5392 번째 실패
5399 번째 실패
5478 번째 실패
5491 번째 실패
5533 번째 실패
5541 번째 실패
5562 번째 실패
5565 번째 실패
5570 번째 실패
5583 번째 실패
5598 번째 실패
5601 번째 실패
5603 번째 실패
5630 번째 실패
5640 번째 실패
5645 번째 실패
5666 번째 실패
5691 번째 실패
5697 번째 실패
5731 번째 실패
5736 번째 실패
5756 번째 실패
5762 번째 실패
5825 번째 실패
5872 번째 실패
5882 번째 실패
5931 번째 실패
5958 번째 실패
6000 완료
6005 번째 실패
6010 번째 실패
6014 번째 실패
6046 번째 실패
6069 번째 실패
6108 번째 실패
6157 번째 실패
6160 번째 실패
6168 번째 실패
6202 번째 실패
6242 번째 실패
6261 번째 실패
6286 번째 실패
6328 번째 실패
6342 번째 실패
6373 번째 실패
6425 번째 실패
6445 번째 실패
6446 번째 실패
6448 번째 실패
6475 번째 실패
6479 번째 실패
6488 번째 실패
6489 번째 실패
6533 번째 실패
6534 번째 실패
6567 번째 실패
6646 번째 실패
6680 번째 실패
6743 번째 실패
6751 번째 실패
6792 번째 실패
6817 번째 실패
6848 번째 실패
6854 번째 실패
6921 번째 실패
6929 번째 실패
6937 번째 실패
6940 번째 실패
6945 번째 실패
6971 번째 실패
6975 번째 실패
6978 번째 실패
6984 번째 실패
7000 완료
7016 번째 실패
7028 번째 실패
7084 번째 실패
7091 번째 실패
7174 번째 실패
7181 번째 실패
7184 번째 실패
7199 번째 실패
7214 번째 실패
7222 번째 실패
7246 번째 실패
7262 번째 실패
7264 번째 실패
7279 번째 실패
7280 번째 실패
7294 번째 실패
7306 번째 실패
7343 번째 실패
7389 번째 실패
7412 번째 실패
7426 번째 실패
7441 번째 실패
7448 번째 실패
7462 번째 실패
7534 번째 실패
7548 번째 실패
7556 번째 실패
7582 번째 실패
7598 번째 실패
7599 번째 실패
7604 번째 실패
7621 번째 실패
7638 번째 실패
7641 번째 실패
7655 번째 실패
7679 번째 실패
7695 번째 실패
7704 번째 실패
7719 번째 실패
7725 번째 실패
7731 번째 실패
7780 번째 실패
7789 번째 실패
7809 번째 실패
7812 번째 실패
7829 번째 실패
7875 번째 실패
7916 번째 실패
7928 번째 실패
7958 번째 실패
7968 번째 실패
7978 번째 실패
7999 번째 실패
8000 완료
8002 번째 실패
8009 번째 실패
8029 번째 실패
8041 번째 실패
8047 번째 실패
8074 번째 실패
8082 번째 실패
8083 번째 실패
8094 번째 실패
8128 번째 실패
8150 번째 실패
8166 번째 실패
8180 번째 실패
8190 번째 실패
8195 번째 실패
8246 번째 실패
8255 번째 실패
8278 번째 실패
8284 번째 실패
8288 번째 실패
8320 번째 실패
8324 번째 실패
8335 번째 실패
8378 번째 실패
8431 번째 실패
8438 번째 실패
8462 번째 실패
8476 번째 실패
8487 번째 실패
8488 번째 실패
8528 번째 실패
8529 번째 실패
8538 번째 실패
8550 번째 실패
8571 번째 실패
8596 번째 실패
8608 번째 실패
8611 번째 실패
8621 번째 실패
8672 번째 실패
8684 번째 실패
8700 번째 실패
8705 번째 실패
8733 번째 실패
8736 번째 실패
8752 번째 실패
8770 번째 실패
8777 번째 실패
8817 번째 실패
8834 번째 실패
8836 번째 실패
8877 번째 실패
8883 번째 실패
8891 번째 실패
8923 번째 실패
8942 번째 실패
9000 완료
9000 번째 실패
9005 번째 실패
9021 번째 실패
9024 번째 실패
9052 번째 실패
9062 번째 실패
9071 번째 실패
9072 번째 실패
9106 번째 실패
9121 번째 실패
9144 번째 실패
9147 번째 실패
9163 번째 실패
9175 번째 실패
9201 번째 실패
9210 번째 실패
9248 번째 실패
9254 번째 실패
9288 번째 실패
9298 번째 실패
9316 번째 실패
9321 번째 실패
9328 번째 실패
9333 번째 실패
9339 번째 실패
9376 번째 실패
9391 번째 실패
9398 번째 실패
9414 번째 실패
9426 번째 실패
9442 번째 실패
9446 번째 실패
9461 번째 실패
9498 번째 실패
9556 번째 실패
9558 번째 실패
9564 번째 실패
9568 번째 실패
9572 번째 실패
9591 번째 실패
9617 번째 실패
9634 번째 실패
9719 번째 실패
9775 번째 실패
9794 번째 실패
9836 번째 실패
9879 번째 실패
9886 번째 실패
9898 번째 실패
9903 번째 실패
9927 번째 실패
9943 번째 실패
9969 번째 실패
9980 번째 실패
9981 번째 실패
10000 완료
10031 번째 실패
10034 번째 실패
10052 번째 실패
10053 번째 실패
10054 번째 실패
10055 번째 실패
10056 번째 실패
10065 번째 실패
10070 번째 실패
10133 번째 실패
10135 번째 실패
10160 번째 실패
10179 번째 실패
10183 번째 실패
10200 번째 실패
10220 번째 실패
10256 번째 실패
10280 번째 실패
10292 번째 실패
10321 번째 실패
10341 번째 실패
10391 번째 실패
10393 번째 실패
10400 번째 실패
10409 번째 실패
10513 번째 실패
10522 번째 실패
10559 번째 실패
10594 번째 실패
10595 번째 실패
10615 번째 실패
10687 번째 실패
10705 번째 실패
10710 번째 실패
10723 번째 실패
10781 번째 실패
10801 번째 실패
10802 번째 실패
10817 번째 실패
10818 번째 실패
10821 번째 실패
10847 번째 실패
10871 번째 실패
10881 번째 실패
10885 번째 실패
10907 번째 실패
10983 번째 실패
10987 번째 실패
10989 번째 실패
10990 번째 실패
10994 번째 실패
11000 완료
11004 번째 실패
11009 번째 실패
11019 번째 실패
11028 번째 실패
11042 번째 실패
11092 번째 실패
11099 번째 실패
11124 번째 실패
11139 번째 실패
11165 번째 실패
11171 번째 실패
11177 번째 실패
11185 번째 실패
11189 번째 실패
11199 번째 실패
11230 번째 실패
11231 번째 실패
11259 번째 실패
11264 번째 실패
11290 번째 실패
11293 번째 실패
11328 번째 실패
11338 번째 실패
11340 번째 실패
11345 번째 실패
11348 번째 실패
11365 번째 실패
11400 번째 실패
11402 번째 실패
11406 번째 실패
11415 번째 실패
11421 번째 실패
11475 번째 실패
11486 번째 실패
11562 번째 실패
11565 번째 실패
11590 번째 실패
11599 번째 실패
11602 번째 실패
11610 번째 실패
11679 번째 실패
11680 번째 실패
11693 번째 실패
11696 번째 실패
11698 번째 실패
11710 번째 실패
11720 번째 실패
11736 번째 실패
11737 번째 실패
11744 번째 실패
11764 번째 실패
11781 번째 실패
11827 번째 실패
11840 번째 실패
11848 번째 실패
11851 번째 실패
11868 번째 실패
11873 번째 실패
11878 번째 실패
11905 번째 실패
11923 번째 실패
11927 번째 실패
11929 번째 실패
11956 번째 실패
12000 완료
12047 번째 실패
12048 번째 실패
12055 번째 실패
12059 번째 실패
12130 번째 실패
12157 번째 실패
12165 번째 실패
12215 번째 실패
12229 번째 실패
12251 번째 실패
12271 번째 실패
12274 번째 실패
12296 번째 실패
12310 번째 실패
12330 번째 실패
12340 번째 실패
12344 번째 실패
12393 번째 실패
12422 번째 실패
12451 번째 실패
12476 번째 실패
12483 번째 실패
12490 번째 실패
12537 번째 실패
12539 번째 실패
12564 번째 실패
12567 번째 실패
12605 번째 실패
12611 번째 실패
12633 번째 실패
12804 번째 실패
12844 번째 실패
12860 번째 실패
12869 번째 실패
12906 번째 실패
12937 번째 실패
12954 번째 실패
12958 번째 실패
12976 번째 실패
12981 번째 실패
12986 번째 실패
13000 완료
13032 번째 실패
13033 번째 실패
13088 번째 실패
13125 번째 실패
13130 번째 실패
13132 번째 실패
13193 번째 실패
13239 번째 실패
13260 번째 실패
13277 번째 실패
13319 번째 실패
13338 번째 실패
13353 번째 실패
13372 번째 실패
13416 번째 실패
13417 번째 실패
13440 번째 실패
13470 번째 실패
13492 번째 실패
13542 번째 실패
13543 번째 실패
13551 번째 실패
13564 번째 실패
13579 번째 실패
13599 번째 실패
13614 번째 실패
13615 번째 실패
13632 번째 실패
13643 번째 실패
13645 번째 실패
13646 번째 실패
13648 번째 실패
13682 번째 실패
13683 번째 실패
13688 번째 실패
13702 번째 실패
13705 번째 실패
13715 번째 실패
13719 번째 실패
13729 번째 실패
13734 번째 실패
13740 번째 실패
13741 번째 실패
13820 번째 실패
13856 번째 실패
13865 번째 실패
13889 번째 실패
13891 번째 실패
13916 번째 실패
13928 번째 실패
13977 번째 실패
14000 완료
14042 번째 실패
14051 번째 실패
14054 번째 실패
14078 번째 실패
14079 번째 실패
14104 번째 실패
14105 번째 실패
14129 번째 실패
14130 번째 실패
14212 번째 실패
14238 번째 실패
14245 번째 실패
14263 번째 실패
14280 번째 실패
14356 번째 실패
14423 번째 실패
14424 번째 실패
14457 번째 실패
14465 번째 실패
14481 번째 실패
14483 번째 실패
14484 번째 실패
14531 번째 실패
14627 번째 실패
14639 번째 실패
14644 번째 실패
14712 번째 실패
14726 번째 실패
14752 번째 실패
14754 번째 실패
14774 번째 실패
14810 번째 실패
14818 번째 실패
14823 번째 실패
14831 번째 실패
14838 번째 실패
14846 번째 실패
14850 번째 실패
14874 번째 실패
14896 번째 실패
14913 번째 실패
14927 번째 실패
14946 번째 실패
15000 완료
15041 번째 실패
15078 번째 실패
15079 번째 실패
15116 번째 실패
15135 번째 실패
15193 번째 실패
15286 번째 실패
15298 번째 실패
15303 번째 실패
15311 번째 실패
15316 번째 실패
15416 번째 실패
15417 번째 실패
15453 번째 실패
15475 번째 실패
15526 번째 실패
15529 번째 실패
15538 번째 실패
15541 번째 실패
15545 번째 실패
15640 번째 실패
15725 번째 실패
15750 번째 실패
15819 번째 실패
15833 번째 실패
15875 번째 실패
15882 번째 실패
15922 번째 실패
15950 번째 실패
15952 번째 실패
15985 번째 실패
16000 완료
16006 번째 실패
16069 번째 실패
16212 번째 실패
16252 번째 실패
16283 번째 실패
16290 번째 실패
16299 번째 실패
16323 번째 실패
16329 번째 실패
16336 번째 실패
16338 번째 실패
16340 번째 실패
16351 번째 실패
16359 번째 실패
16361 번째 실패
16389 번째 실패
16392 번째 실패
16395 번째 실패
16400 번째 실패
16416 번째 실패
16417 번째 실패
16419 번째 실패
16426 번째 실패
16441 번째 실패
16443 번째 실패
16452 번째 실패
16453 번째 실패
16454 번째 실패
16455 번째 실패
16456 번째 실패
16457 번째 실패
16458 번째 실패
16459 번째 실패
16460 번째 실패
16461 번째 실패
16462 번째 실패
16463 번째 실패
16464 번째 실패
16465 번째 실패
16466 번째 실패
16467 번째 실패
16468 번째 실패
16469 번째 실패
16470 번째 실패
16471 번째 실패
16472 번째 실패
16473 번째 실패
16474 번째 실패
16475 번째 실패
16476 번째 실패
16477 번째 실패
16478 번째 실패
16479 번째 실패
16480 번째 실패
16481 번째 실패
16482 번째 실패
16483 번째 실패
16484 번째 실패
16485 번째 실패
16486 번째 실패
16487 번째 실패
16488 번째 실패
16489 번째 실패
16490 번째 실패
16491 번째 실패
16492 번째 실패
16493 번째 실패
16494 번째 실패
16495 번째 실패
16496 번째 실패
16497 번째 실패
16498 번째 실패
16499 번째 실패
16500 번째 실패
16501 번째 실패
16502 번째 실패
16503 번째 실패
16504 번째 실패
16505 번째 실패
16506 번째 실패
16507 번째 실패
16508 번째 실패
16509 번째 실패
16510 번째 실패
16511 번째 실패
16512 번째 실패
16513 번째 실패
16514 번째 실패
16515 번째 실패
16516 번째 실패
16517 번째 실패
16518 번째 실패
16519 번째 실패
16520 번째 실패
16521 번째 실패
16522 번째 실패
16523 번째 실패
16524 번째 실패
16525 번째 실패
16526 번째 실패
16527 번째 실패
16528 번째 실패
16529 번째 실패
16530 번째 실패
16531 번째 실패
16532 번째 실패
16533 번째 실패
16534 번째 실패
16535 번째 실패
16536 번째 실패
16537 번째 실패
16538 번째 실패
16539 번째 실패
16540 번째 실패
16541 번째 실패
16542 번째 실패
16543 번째 실패
16544 번째 실패
16545 번째 실패
16546 번째 실패
16547 번째 실패
16548 번째 실패
16549 번째 실패
16550 번째 실패
16551 번째 실패
16552 번째 실패
16553 번째 실패
16554 번째 실패
16555 번째 실패
16556 번째 실패
16557 번째 실패
16558 번째 실패
16559 번째 실패
16560 번째 실패
16561 번째 실패
16562 번째 실패
16563 번째 실패
16564 번째 실패
16565 번째 실패
16566 번째 실패
16567 번째 실패
16568 번째 실패
16569 번째 실패
16570 번째 실패
16571 번째 실패
16572 번째 실패
16573 번째 실패
16574 번째 실패
16575 번째 실패
16576 번째 실패
16577 번째 실패
16578 번째 실패
16579 번째 실패
16580 번째 실패
16581 번째 실패
16582 번째 실패
16583 번째 실패
16584 번째 실패
16585 번째 실패
16586 번째 실패
16587 번째 실패
16588 번째 실패
16589 번째 실패
16590 번째 실패
16591 번째 실패
16592 번째 실패
16593 번째 실패
16594 번째 실패
16595 번째 실패
16596 번째 실패
16597 번째 실패
16598 번째 실패
16599 번째 실패
16600 번째 실패
16601 번째 실패
16602 번째 실패
16603 번째 실패
16604 번째 실패
16605 번째 실패
16606 번째 실패
16607 번째 실패
16608 번째 실패
16609 번째 실패
16610 번째 실패
16611 번째 실패
16612 번째 실패
16613 번째 실패
16614 번째 실패
16615 번째 실패
16616 번째 실패
16617 번째 실패
16618 번째 실패
16619 번째 실패
16620 번째 실패
16621 번째 실패
16622 번째 실패
16623 번째 실패
16624 번째 실패
16625 번째 실패
16626 번째 실패
16627 번째 실패
16628 번째 실패
16629 번째 실패
16630 번째 실패
16631 번째 실패
16632 번째 실패
16633 번째 실패
16634 번째 실패
16635 번째 실패
16636 번째 실패
16637 번째 실패
16638 번째 실패
16639 번째 실패
16640 번째 실패
16641 번째 실패
16642 번째 실패
16643 번째 실패
16644 번째 실패
16645 번째 실패
16646 번째 실패
16647 번째 실패
16648 번째 실패
16649 번째 실패
16650 번째 실패
16651 번째 실패
16652 번째 실패
16653 번째 실패
16654 번째 실패
16655 번째 실패
16656 번째 실패
16657 번째 실패
16658 번째 실패
16659 번째 실패
16660 번째 실패
16661 번째 실패
16662 번째 실패
16663 번째 실패
16664 번째 실패
16665 번째 실패
16666 번째 실패
16667 번째 실패
16668 번째 실패
16669 번째 실패
16670 번째 실패
16671 번째 실패
16672 번째 실패
16673 번째 실패
16674 번째 실패
16675 번째 실패
16676 번째 실패
16677 번째 실패
16678 번째 실패
16679 번째 실패
16680 번째 실패
16681 번째 실패
16682 번째 실패
16683 번째 실패
16684 번째 실패
16685 번째 실패
16686 번째 실패
16687 번째 실패
16688 번째 실패
16689 번째 실패
16690 번째 실패
16691 번째 실패
16692 번째 실패
16693 번째 실패
16694 번째 실패
16695 번째 실패
16696 번째 실패
16697 번째 실패
16698 번째 실패
16699 번째 실패
16700 번째 실패
16701 번째 실패
16702 번째 실패
16703 번째 실패
16704 번째 실패
16705 번째 실패
16706 번째 실패
16707 번째 실패
16708 번째 실패
16709 번째 실패
16710 번째 실패
16711 번째 실패
16712 번째 실패
16713 번째 실패
16714 번째 실패
16715 번째 실패
16716 번째 실패
16717 번째 실패
16718 번째 실패
16719 번째 실패
16720 번째 실패
16721 번째 실패
16722 번째 실패
16723 번째 실패
16724 번째 실패
16725 번째 실패
16726 번째 실패
16727 번째 실패
16728 번째 실패
16729 번째 실패
16730 번째 실패
16731 번째 실패
16732 번째 실패
16733 번째 실패
16734 번째 실패
16735 번째 실패
16736 번째 실패
16737 번째 실패
16738 번째 실패
16739 번째 실패
16740 번째 실패
16741 번째 실패
16742 번째 실패
16743 번째 실패
16744 번째 실패
16745 번째 실패
16746 번째 실패
16747 번째 실패
16748 번째 실패
16749 번째 실패
16750 번째 실패
16751 번째 실패
16752 번째 실패
16753 번째 실패
16754 번째 실패
16755 번째 실패
16756 번째 실패
16757 번째 실패
16758 번째 실패
16759 번째 실패
16760 번째 실패
16761 번째 실패
16762 번째 실패
16763 번째 실패
16764 번째 실패
16765 번째 실패
16766 번째 실패
16767 번째 실패
16768 번째 실패
16769 번째 실패
16770 번째 실패
16771 번째 실패
16772 번째 실패
16773 번째 실패
16774 번째 실패
16775 번째 실패
16776 번째 실패
16777 번째 실패
16778 번째 실패
16779 번째 실패
16780 번째 실패
16781 번째 실패
16782 번째 실패
16783 번째 실패
16784 번째 실패
16785 번째 실패
16786 번째 실패
16787 번째 실패
16788 번째 실패
16789 번째 실패
16790 번째 실패
16791 번째 실패
16792 번째 실패
16793 번째 실패
16794 번째 실패
16795 번째 실패
16796 번째 실패
16797 번째 실패
16798 번째 실패
16799 번째 실패
16800 번째 실패
16801 번째 실패
16802 번째 실패
16803 번째 실패
16804 번째 실패
16805 번째 실패
16806 번째 실패
16807 번째 실패
16808 번째 실패
16809 번째 실패
16810 번째 실패
16811 번째 실패
16812 번째 실패
16813 번째 실패
16814 번째 실패
16815 번째 실패
16816 번째 실패
16817 번째 실패
16818 번째 실패
16819 번째 실패
16820 번째 실패
16821 번째 실패
16822 번째 실패
16823 번째 실패
16824 번째 실패
16825 번째 실패
16826 번째 실패
16827 번째 실패
16828 번째 실패
16829 번째 실패
16830 번째 실패
16831 번째 실패
16832 번째 실패
16833 번째 실패
16834 번째 실패
16835 번째 실패
16836 번째 실패
16837 번째 실패
16838 번째 실패
16839 번째 실패
16840 번째 실패
16841 번째 실패
16842 번째 실패
16843 번째 실패
16844 번째 실패
16845 번째 실패
16846 번째 실패
16847 번째 실패
16848 번째 실패
16849 번째 실패
16850 번째 실패
16851 번째 실패
16852 번째 실패
16853 번째 실패
16854 번째 실패
16855 번째 실패
16856 번째 실패
16857 번째 실패
16858 번째 실패
16859 번째 실패
16860 번째 실패
16861 번째 실패
16862 번째 실패
16863 번째 실패
16864 번째 실패
16865 번째 실패
16866 번째 실패
16867 번째 실패
16868 번째 실패
16869 번째 실패
16870 번째 실패
16871 번째 실패
16872 번째 실패
16873 번째 실패
16874 번째 실패
16875 번째 실패
16876 번째 실패
16877 번째 실패
16878 번째 실패
16879 번째 실패
16880 번째 실패
16881 번째 실패
16882 번째 실패
16883 번째 실패
16884 번째 실패
16885 번째 실패
16886 번째 실패
16887 번째 실패
16888 번째 실패
16889 번째 실패
16890 번째 실패
16891 번째 실패
16892 번째 실패
16893 번째 실패
16894 번째 실패
16895 번째 실패
16896 번째 실패
16897 번째 실패
16898 번째 실패
16899 번째 실패
16900 번째 실패
16901 번째 실패
16902 번째 실패
16903 번째 실패
16904 번째 실패
16905 번째 실패
16906 번째 실패
16907 번째 실패
16908 번째 실패
16909 번째 실패
16910 번째 실패
16911 번째 실패
16912 번째 실패
16913 번째 실패
16914 번째 실패
16915 번째 실패
16916 번째 실패
16917 번째 실패
16918 번째 실패
16919 번째 실패
16920 번째 실패
16921 번째 실패
16922 번째 실패
16923 번째 실패
16924 번째 실패
16925 번째 실패
16926 번째 실패
16927 번째 실패
16928 번째 실패
16929 번째 실패
16930 번째 실패
16931 번째 실패
16932 번째 실패
16933 번째 실패
16934 번째 실패
16935 번째 실패
16936 번째 실패
16937 번째 실패
16938 번째 실패
16939 번째 실패
16940 번째 실패
16941 번째 실패
16942 번째 실패
16943 번째 실패
16944 번째 실패
16945 번째 실패
16946 번째 실패
16947 번째 실패
16948 번째 실패
16949 번째 실패
16950 번째 실패
16951 번째 실패
16952 번째 실패
16953 번째 실패
16954 번째 실패
16955 번째 실패
16956 번째 실패
16957 번째 실패
16958 번째 실패
16959 번째 실패
16960 번째 실패
16961 번째 실패
16962 번째 실패
16963 번째 실패
16964 번째 실패
16965 번째 실패
16966 번째 실패
16967 번째 실패
16968 번째 실패
16969 번째 실패
16970 번째 실패
16971 번째 실패
16972 번째 실패
16973 번째 실패
16974 번째 실패
16975 번째 실패
16976 번째 실패
16977 번째 실패
16978 번째 실패
16979 번째 실패
16980 번째 실패
16981 번째 실패
16982 번째 실패
16983 번째 실패
16984 번째 실패
16985 번째 실패
16986 번째 실패
16987 번째 실패
16988 번째 실패
16989 번째 실패
16990 번째 실패
16991 번째 실패
16992 번째 실패
16993 번째 실패
16994 번째 실패
16995 번째 실패
16996 번째 실패
16997 번째 실패
16998 번째 실패
16999 번째 실패
17000 완료

In [76]:
new_data=new_data[~new_data['genre'].astype(str).str.isdigit()]

In [77]:
new_data.to_csv(r'D:\ai\Downloads\Data\paintings\archive\new_csv.csv',index=False)

In [78]:
new_data=pd.read_csv(r'D:\ai\Downloads\Data\paintings\archive\new_csv.csv')

In [79]:
new_data

,file,artist,genre,style,search
0,Romanticism/ivan-aivazovsky_morning-1851.jpg,9,marina,163,ivan-aivazovsky/morning-1851
1,Realism/vincent-van-gogh_vase-with-asters-and-...,22,flower painting,161,vincent-van-gogh/vase-with-asters-and-phlox-1886
2,Expressionism/martiros-saryan_flowers-against-...,13,flower painting,149,martiros-saryan/flowers-against-the-backdrop-o...
3,Naive_Art_Primitivism/marc-chagall_self-portra...,12,self-portrait,155,marc-chagall/self-portrait-1963
4,Art_Nouveau_Modern/nicholas-roerich_king-s-roo...,14,design,143,nicholas-roerich/king-s-room-1913
...,...,...,...,...,...
15775,Naive_Art_Primitivism/mary-fedden_butterflies-...,0,animal painting,155,mary-fedden/butterflies-at-canaux-1973
15776,Naive_Art_Primitivism/arman-manookian_watercol...,0,design,155,arman-manookian/watercolor-design-for-mural
15777,Naive_Art_Primitivism/andre-bauchant_exotic-fl...,0,flower painting,155,andre-bauchant/exotic-flowers-1933
15778,Naive_Art_Primitivism/ivan-generalic_cows-in-a...,0,animal painting,155,ivan-generalic/cows-in-a-landscape-1957
15779,Naive_Art_Primitivism/natalia-goncharova_sheep...,0,genre painting,155,natalia-goncharova/sheep-shearing

In [18]:
data=pd.read_csv('painting.csv')

In [19]:
data=data.drop(['artist','genre','style','new_filepath'],axis=1)

In [16]:
data['title']=data['new_filename']
data['artist']=data['new_artist']
data['genre']=data['new_genre']
data['style']=data['new_style']

In [24]:
data=data.rename({'new_style':'style','new_filename':'title','new_artist':'artis','new_genre':'genre'} , axis=1)

In [27]:
data['title'] = data['file'].str.split('/').str[1].str.split('_').str[1].str.rsplit('.', 1).str[0]

C:\Users\4545\AppData\Local\Temp\ipykernel_16076\1889506168.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.rsplit except for the argument 'pat' will be keyword-only.
  data['title'] = data['file'].str.split('/').str[1].str.split('_').str[1].str.rsplit('.', 1).str[0]

In [29]:
data.to_csv('painting.csv',index=False)